<div
    [ngClass]="this.mode.dark ? 'dark' : 'light'"
>
    <div 
        *ngIf="!add"
        class="partner"
    >
        <h5>{{ status }}</h5>
        <div class="profile">
            <i class="fa-solid fa-user image"></i>
            <p>{{ name }}</p>
        </div>
        <p
            *ngIf="income"
        >
            Income: {{ income }}
        </p>
        <p
        *ngIf="balance"
    >
        Balance: {{ balance }}
    </p>
    </div>
    
    <div 
        *ngIf="add"
        class="partner add"
    >
        <i class="fa-solid fa-user-plus"></i>
    </div>
</div>