<div 
    class="page"
    [ngClass]="this.mode.dark ? 'dark' : 'light'"
>
    <div class="partners">
        <app-partner 
            *ngFor="let partner of partners"
            [status]= partner.status
            [image] = partner.image
            [name] = partner.name
            [balance] = partner.balance
        >
        </app-partner>
    </div>

    <app-date-picker></app-date-picker>

    <app-add-item></app-add-item>

    <app-daily-expenses-table [days]="days"></app-daily-expenses-table>
</div>