<div 
    class="add"
    [ngClass]="this.mode.dark ? 'dark' : 'light'"
>
    <form class="form">
        <div>
            <p>Expense</p>
            <input 
                class="name"
                type="text"
            >
        </div>
        <div>
            <p>Value</p>
            <input 
                class="value"
                type="number" 
                min="0" 
                inputmode="decimal" 
                pattern="[0-9]*"
            >
        </div>
        <app-button
            text="fa-plus"
            type="icon"
        >
        </app-button>
    </form>
</div>