$dark-text: #f2f2f3;
$dark-background: #1a1a1a;
$dark-primary: #aab5cb;
$dark-secondary: #3a4d73;
$dark-accent: #5f7fbf;

$light-text: #0c0c0d;
$light-background: #e6e6e6;
$light-primary: #343f55;
$light-secondary: #8c9fc5;
$light-accent: #4060a0;
