<div 
    class="page"
    [ngClass]="this.mode.dark ? 'dark' : 'light'"
>
    <div class="text">
        <h2>
            Welcome to 
            <span class="name"> CleverSpend </span>
        </h2>
        <h3>Your Smart Budget Planner</h3>
        <p>
            Easily track your spending, set budgets, 
            and manage your money with real-time 
            insights. Achieve your financial goals with 
            simple tools designed to help you save.
        </p>
    </div>
    <div class="image">
        <img src="/assets/img/piggy-bank.png">
    </div>
</div>