@import '../assets/utilities/colors.scss';

.app {
    background-color: $dark-background;
    color: $dark-text;
    width: 100dvw;
    height: 100dvh;

    .nav {
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        bottom: 0;
    }
}