@import '../../../assets/utilities/colors.scss';
@import '../../../assets/utilities/font-size.scss';

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .partners {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        padding: 1em 0 0;
    }

    .split {
        background-color: rgba($dark-primary, 10%);
        width: 340px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding: 1em;
    }
}

.light {
    .split {
        background-color: rgba($light-primary, 10%);
    }
}

@media(min-width: 40em) {
    .page {
        gap: 2em;

        .split {
            width: 460px;
        }
    }
}