@import '../../../assets/utilities/colors.scss';

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5em;
        margin: 0;
        max-width: 300px;

        .name {
            background: linear-gradient(to right, $dark-primary, $dark-accent);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
        }
    }

    img {
        width: 300px;
        height: 300px;
        margin: 0;
        object-fit: cover;
        object-position: center;
    }
}

.light {
    .text {
        .name {
            background: linear-gradient(to right, $light-primary, $light-accent);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
        }
    }
}

@media (min-width: 40em) {
    .page{
        .text {
            gap: 1em;
            max-width: 500px;
            margin: 2em;
        }

        img {
            width: 500px;
            height: 500px;
            margin: 2em;
        }
    }
}