<div 
    class="input"
    [ngClass]="this.mode.dark ? 'dark' : 'light'"
>
    <p>{{ name }}</p>
    <i 
        *ngIf="name == 'Email'"
        class="fa-solid fa-envelope"
    >
    </i>
    <i 
        *ngIf="name == 'Password'"
        class="fa-solid fa-lock"
    >
    </i>
    <input [type]="type">
    <i 
        *ngIf="name == 'Password' && type == 'password'"
        class="fa-solid fa-eye"
        (click)="visible()"
    >
    </i>
    <i 
        *ngIf="name == 'Password' && type == 'text'"
        class="fa-solid fa-eye-slash"
        (click)="visible()"
    >
    </i>
</div>