
* {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

$font-size: 100%;
$ratio: 1.333;

$h6: $font-size * $ratio;
$h5: $h6 * $ratio;
$h4: $h5 * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;

p {
  font-size: $font-size;
}

h4 {
  font-size: $h6;
}

h3 {
  font-size: $h5;
}

h2 {
  font-size: $h4;
}

h1 {
  font-size: $h3;
}

@media (min-width: 40em) {
  h4 {
  font-size: $h4;
  }

  h3 {
  font-size: $h3;
  }

  h2 {
  font-size: $h2;
  }

  h1 {
  font-size: $h1;
  }
}